<div class="breadcumb_area bg-img" style="background-image: url(../assets/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Chat de Asistencia</h2>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="container">
	<div class="row"></div>
		<div class="messaging">
		      <div class="inbox_msg">
		        <div class="inbox_people">
		          <div class="inbox_chat">
		            <div class="chat_list active_chat">
		              <div class="chat_people">
		                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
		                <div class="chat_ib">
		                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
		                  <p>Test, which is a new approach to have all solutions 
		                    astrology under one roof.</p>
		                </div>
		              </div>
		            </div>
		            <div class="chat_list">
		              <div class="chat_people">
		                <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
		                <div class="chat_ib">
		                  <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
		                  <p>Test, which is a new approach to have all solutions 
		                    astrology under one roof.</p>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		        <div class="mesgs">
		          <div class="msg_history">
		            <div *ngFor="let item of messages" [ngClass]="{
		            	'incoming_msg': user.id !== item.transmitter,
		            	'outgoing_msg': user.id === item.transmitter 
		        	}">
		        		<div class="sent_msg" *ngIf="user.id == item.transmitter">
		                <p>{{item.content}}</p>
		              </div>
		        		<ng-container *ngIf="user.id != item.transmitter">
		        			<div class="incoming_msg_img"> <img src="{{'http://192.168.43.109:3700/api/get-image/' + item.photo}}" alt="sunil"> </div>
			              <div class="received_msg">
			                <div class="received_withd_msg">
			                  <p>{{item.content}}</p></div>
			              </div>
		        		</ng-container>
		        	</div>

		          </div>
		          <div class="type_msg">
		            <div class="input_msg_write">
		              <input type="text" class="write_msg" [(ngModel)]="textMsg" placeholder="Type a message" />
		              <button class="msg_send_btn" type="button" (click)="SendMessage()"><i class="fas fa-angle-right"></i></button>
		            </div>
		          </div>
		        </div>
		      </div>
      
      
    </div>	
		<ng-template #outMsg>
		        		
		        	</ng-template>
		 <ng-template #incoMsg>
		        		
		        	</ng-template>
</div>