<div class="breadcumb_area bg-img" style="background-image: url(../assets/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Seleccionar Chat</h2>
                    </div>
                </div>
            </div>
        </div>
</div>

<div class="container">
	<div class="row">
		<button type="button" #btnId class="btn btn-primary btn-lg btn-block" value="{{item.IDROOM}}" (click)="EnterRoom(btnId.value)" *ngFor="let item of roomList">Entrar al chat {{item.IDROOM}}</button>
	</div>
</div>
