<section class="shop_grid_area section-padding-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4 col-lg-3">
                    <div class="shop_sidebar_area">

                        <!-- ##### Single Widget ##### -->
                        <div class="widget catagory mb-50">
                            <!-- Widget Title -->
                            <h6 class="widget-title mb-30">Catagories</h6>

                            <!--  Catagories  -->
                            <div class="catagories-menu">
                               	<ejs-treeview #tree id="myTree" [fields]='field' (nodeSelected)='nodeSelected($event)'>
                    			</ejs-treeview> 
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8 col-lg-9">
                    <div class="shop_grid_product_area">
                        <div class="row">
                            <div class="col-12">
                                <div class="product-topbar d-flex align-items-center justify-content-between">
                                	<div>
                                		<form #formRegister="ngForm" (ngSubmit)="onSubmitSearch()">
                                			<input type="text" name="match" #matchTxt="ngModel" [(ngModel)]="matchText" required>
                                			<select style="margin-left: 10px" id="slCategory">
                                				<option value="0">All</option>
                                                <option *ngFor="let ca of itemsCategory" value="{{ca.id}}">{{ca.name}}</option>
                                			</select>
                                			<input type="submit" [disabled]="!formRegister.form.valid" style="margin-left: 10px" value="Buscar" class="btn btn-primary" name="">
                                		</form>
                                	</div>
                                    <!-- Sorting -->
                                    <div class="product-sorting d-flex">
                                        <p>Sort by:</p>
                                        <form action="#" method="get">
                                            <select name="select" id="sortByselect">
                                                <option value="value">Highest Rated</option>
                                                <option value="value">Newest</option>
                                                <option value="value">Price: $$ - $</option>
                                                <option value="value">Price: $ - $$</option>
                                            </select>
                                            <input type="submit" class="d-none" value="">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                        	<div *ngFor="let product of productCatalog" class="col-12 col-sm-6 col-lg-4">
                        		<div class="single-product-wrapper">
                                    <!-- Product Image -->
                                    <div class="imgForparejo">
                                        <img src="{{'http://192.168.43.109:3700/api/get-image/' + product.image}}" alt="Image not found">
                                    </div>

                                    <!-- Product Description -->
                                    <div class="product-description">
                                        <a [routerLink]="['/individualView/' + product.id]">
                                            <h6>{{product.description}}</h6>
                                        </a>
                                        <label>Color: {{product.color}}</label>
                                        <label>Publicado por: {{product.customer}}</label>
                                        <p class="product-price">Q {{product.price}}</p>

                                        <!-- Hover Content -->
                                        <div class="hover-content" *ngIf="user">
                                            <!-- Add to Cart -->
                                            <div class="add-to-cart-btn" *ngIf="product.stock > 0; then btnCart else btnExhausted"></div>
                                            <ng-template #btnCart>
                                                <button *ngIf="!product.inCart" value="{{product.id}}" #btnAddCart (click)="AddCart(btnAddCart.value)" class="btn essence-btn">Add to Cart</button>
                                                <button *ngIf="product.inCart" class="btn essence-btn" disabled>Añadido al carro</button>
                                            </ng-template>
                                            <ng-template #btnExhausted>
                                                <button class="btn essence-btn" disabled>Agotado</button>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                        	</div>

                        </div>
                    </div>

                    <div class="modal fade" id="modalAddCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Añadir al carrito</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <h6>{{nameModal}}</h6>
                            <label for="slcMS">Cantidad: </label>
                            <select name="slcMS" class="form-control" id="slModalStock">
                                <option *ngFor="let item of listStock" value="{{item}}">{{item}}</option>
                            </select>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" (click)="ConfirmAddToCart()" class="btn btn-primary">Añadir al carrito</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Pagination -->
                    <nav aria-label="navigation">
                        <ul class="pagination mt-50 mb-70">
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left"></i></a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">21</a></li>
                            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
